# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
yarn.lock
package-lock.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

.DS_Store
.tmp
tmp
dist
npm-debug.log*
.vscode/launch.json

mantis-test-env

# npm pack artifacts
*.tgz
